@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background: #020617;
}

::-webkit-scrollbar {
  height: 10px;
  width: 9px;
}
::-webkit-scrollbar-thumb {
  background: #1d3b5c;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
